@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<article class="well-lg">
    <h2>Get this exclusive offer!</h2>
    <p>This offer is only available to our website visitors. Call now and get a free mug!</p>
</article>
